h1,
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    background-color: #85d0bc;
    border: 1px solid black;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
    width: 30%;
    height: 600px;
    padding: 1%;
    margin: 0 auto;
    color: #028082;
}

.container2 {
    display: flex;
    background-color: #85d0bc;
    border: 1px solid black;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
    width: 30%;
    height: 600px;
    padding: 1%;
    margin: 0 auto;
    color: #028082;
}

.container3 {
    display: flex;
    background-color: #85d0bc;
    border: 1px solid black;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row;
    width: 30%;
    height: 600px;
    padding: 1%;
    margin: 0 auto;
    color: #028082;
}
.container4 {
    display: flex;
    background-color: #85d0bc;
    border: 1px solid black;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 600px;
    padding: 1%;
    margin: 0 auto;
    color: #028082;
}
.container5 {
    display: flex;
    background-color: #85d0bc;
    border: 1px solid black;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-direction: row;
    width: 30%;
    height: 600px;
    padding: 1%;
    margin: 0 auto;
    color: #028082;
}
.strech{
    height: auto;
    width: auto;
    background-color: #cdf6eb;
    border: 1px solid black;
}

.item {
    background-color: #cdf6eb;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.baseline{
    font-size: 5em;
}